header
	.headerLogo
		a(href="index.html")
			p MyCompany
	nav
		.topnav#myTopnav
			a(href="index.html") HOME
			a(href="about.html") ABOUT
			a(href="services.html") SERVICES
			a(href="portfolio.html") PORTFOLIO
			a(href="testimonials.html") TESTIMONIALS
			a(href="contact.html") CONTACT
			a.icon#menu(href="#") &#9776
