<!DOCTYPE html>
html(lang="en")
include includes/head
body
	.footer2Bottom
		include includes/header
		main
			.wrapper
				section.mainAbout
					.aboutLeft
						img.mw-100(src="img/mac.png" alt="mac")
					.aboutRight
						h1 Some words <span>about us</span>
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus.
						ul
							li <span>Mission</span> - We deliver uniqueness and quality
							li <span>Skills</span> - Delivering fast and excellent results
							li <span>Clients</span> - Satisfied clients thanks to our experience
		include includes/footer
