<!DOCTYPE html>
html(lang="en")
include includes/head
body
	include includes/header
	main
		section.mainWelcome
			h1 WELCOME ON <span class="mycompany"> MYCOMPANY</span>
			p We are a digital agency with <span>years of experience</span> and with <span>extraordinary people</span>
		section.mainTeam
			.wrapper
				h1 OUR TEAM
				.teamCards
					.card
						.photo
						h4.name Vlad Ivanov
						p.position Designer
						p.aboutPosition Do not seek to change what has come before. Seek to create that which has not.
					.card
						.photo
						h4.name Bogdan Makarov
						p.position Manager
						p.aboutPosition Do not seek to change what has come before. Seek to create that which has not.
					.card
						.photo
						h4.name Pavel Konov
						p.position Copywriter
						p.aboutPosition Do not seek to change what has come before. Seek to create that which has not.
					.card
						.photo
						h4.name Max Belov
						p.position SEO
						p.aboutPosition Do not seek to change what has come before. Seek to create that which has not.
		section.mainServices
			.wrapper
				h1 OUR SERVICES
				p <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.</i>
				.servicesCards
					.servicesCard
						img(src="img/webdesign.png" alt="web design")
						h4 Web design
						p The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
					.servicesCard
						img(src="img/mobileapps.png" alt="mobile apps")
						h4 MOBILE APPS
						p The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
					.servicesCard
						img(src="img/photi.png" alt="PHOTOGRAPHY")
						h4 PHOTOGRAPHY
						p The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
					.servicesCard
						img(src="img/marketing.png" alt="marketing")
						h4 marketing
						p The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
		section.mainClients
			.wrapper
				h1 SOME OF <span>OUR CLIENTS</span>
				.clients
					img(src="img/channel.png")
					img(src="img/zara.png")
					img(src="img/guerline.png")
					img(src="img/lancome.png")
					img(src="img/lacoste.png")
	include includes/footer
