<!DOCTYPE html>
html(lang="en")
include includes/head
body
	.footer2Bottom
		include includes/header
		main
			section.mainServices
				.wrapper
					h1 OUR SERVICES
					p <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.</i>
					.servicesCards
						.servicesCard
							img(src="img/webdesign.png" alt="web design")
							h4 Web design
							p The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
						.servicesCard
							img(src="img/mobileapps.png" alt="mobile apps")
							h4 MOBILE APPS
							p The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
						.servicesCard
							img(src="img/photi.png" alt="PHOTOGRAPHY")
							h4 PHOTOGRAPHY
							p The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
						.servicesCard
							img(src="img/marketing.png" alt="marketing")
							h4 marketing
							p The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
		include includes/footer
