<!DOCTYPE html>
html(lang="en")
include includes/head
body
	.footer2Bottom
		include includes/header
		main
			section.mainTestimonials
				.wrapper
					h1 <span>our clients’</span> testimonials
					p.testimonial This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
					p Dean Martin<span>, CEO Acme Inc.</span>
		include includes/footer
